# stan i konfiguracja lokalna
state.json
state.json.tmp
.env

# python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# artefakty budowania
build/
*.zip

# terraform
.terraform/
terraform.tfstate*
*.tfvars
*.lock.hcl

# local documentation
DEVOPS-PLAN.md
